/*Color Menu Right In one Page And others*/
.accordion {
    border-bottom: 1px solid #f29200;
}

.accordion-panel {
    border-color: #f29200;
}

/**/
.SliderPageOurServicesStyle {
    display: none;
}

.SliderPageHomeStyle {
    display: none;
}

.SliderPageAboutUsStyle {
    display: none;
}


.SliderPageDestinationsStyle {
    display: none;
}

.SliderPageContactUsStyle {
    display: none;
}

.SliderPageIranUsStyle {
    display: none;
}

.SliderPageNewsStyle {
    display: none;
}

.SliderPageTourguideStyle {
    display: none;
}

.SliderPageEventStyle {
    display: normal;
}

.SliderPageTripstoryStyle {
    display: none;
}

.SliderPageGalleryStyle {
    display: none;
}


/*City Display*/
.SliderPageCityArasStyle {
    display: none;
}

.SliderPageCityHamedanStyle {
    display: none;
}

.SliderPageCityIsfahanStyle {
    display: none;
}

.SliderPageCityKashanStyle {
    display: none;
}

.SliderPageCityShirazStyle {
    display: none;
}

.SliderPageCityRashtStyle {
    display: none;
}

.SliderPageCityTabrizStyle {
    display: none;
}

.SliderPageCityTehranStyle {
    display: none;
}

.SliderPageCityYazdStyle {
    display: none;
}

.SliderPageCityKishStyle {
    display: none;
}

.SliderPageCitySariStyle {
    display: none;
}

.SliderPageCityMashhadStyle {
    display: none;
}

.SliderPageCityKermanStyle {
    display: none;
}

.SliderPageCityQeshmStyle {
    display: none;
}



/*#Row1*/
.divRow1EventPageStyle {
    margin-top: 0.5em;
}

.divInRow1TheRow1TextEventPageStyle {
    text-align: center;
}

.textInRow1TheRow1TextEventPageStyle {
    font-family: 'Myriad Pro';
    color: black;
    font-size: 3.5vw;
    font-weight: bolder;
    height: 4.5vw;
}


.DivHideShowEquipmentesDynamicRoomEventEvent {
}

.divInRow1TheRow2EventPageStyle {
    box-shadow: 5px 5px 10px 0.5px #c7c5c6;
    padding: 1em 2em 2em 1em;
}



.fa-usd {
    font-size: 1.5em;
}

#BtnbookingEvent {
    float: right;
    color: black;
    background-color: #C6A100;
    font-size: 120%;
    font-family: 'Myriad Pro';
    font-weight: bolder;
    outline: none;
    border: none;
    border-radius: 1.5em;
    padding: 0em 1.5em;
    box-shadow: 10px 8px 15px rgba(0, 0, 0, 0.2);
}

#divInRow1TheRow2EventPageDivRow1 > div {
    /*height: 20em;*/
    /*float:left;*/
}

#divInRow1TheRow2EventPageDivRow1Col1 {
    height: 20em;
    /*width: 45%;*/
}

#divInRow1TheRow2EventPageDivRow1Col2 {
    /*height: 20em;
            width: 55%;*/
    min-height: 20em;
}

#divInRow1TheRow2EventPageDivRow2 {
    /*clear:left;*/
}

.DynamicEventstyle {
}

.DivHideShowEquipmentesDynamicRoomEvent > p {
    font-size: 1em;
    font-family: 'Myriad Pro';
    color: #b3b1b2;
}

.ImgDynamicBigImgEventstyle {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.DynamicRow2Eventstyle {
    margin-top: 1em;
}

.DivAllImgRow2DynamicBigImgEventStyle {
    text-align: left;
}

.ImgRow2DynamicBigImgEventStyle {
    width: 100%;
    /*height: 7em;*/
    margin-left: 0.7em;
    margin-top: 0.7em;
    object-fit: cover;
    object-position: center;
}

.DynamicTextEventstyle {
    clear: left;
}

.linkNameTextEventstyle {
    font-size: 1.4em;
    font-family: 'Myriad Pro';
    color: #b3b1b2;
}

.DynamicTextEquipmentesEventstyle {
}

.linkNameTextEventstyle {
}

.DivRow3CommentsEvent {
    border: 3px solid #f29200;
    height: 100%;
    margin-top: 1em;
    border-radius: 30px;
    background: linear-gradient(to bottom, #f29200 0%,#f29200 2vw,white 2vw,white 100%);
}

.DivInRow3Row1CommentsEvent {
    height: 30px;
    padding: 0em 3em;
}

    .DivInRow3Row1CommentsEvent > p {
        color: black;
        font-size: 1.4em;
        font-family: 'Myriad Pro';
        font-weight: bolder;
    }

        .DivInRow3Row1CommentsEvent > p > i {
            font-weight: bolder;
            margin-right: 0.3em;
        }

.DivInRow3Row2CommentsEvent {
    margin-top: 20px;
    padding: 0 2%;
}

.DayDolarandweekend1Event {
    margin-left: 1em;
    color: black;
    font-family: 'Myriad Pro';
    font-size: 1.5em;
}

.DayDolarandweekend2Event {
    color: #c7c5c6;
    font-family: 'Myriad Pro';
    font-size: 1.3em;
}

.WeekendDolarandweekend1Event {
    margin-left: 1em;
    color: black;
    font-family: 'Myriad Pro';
    font-size: 1.5em;
}

.WeekendDolarandweekend2Event {
    color: #c7c5c6;
    font-family: 'Myriad Pro';
    font-size: 1.3em;
}


/*Paging Style Start*/
.list-wrapper {
    padding: 15px;
    overflow: hidden;
}

.list-item {
    border: 1px solid #EEE;
    background: #FFF;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px #EEE;
}

    .list-item h4 {
        color: #FF7182;
        font-size: 18px;
        margin: 0 0 5px;
    }

    .list-item p {
        margin: 0;
    }

.simple-pagination ul {
    margin: 0 0 20px;
    padding: 0;
    list-style: none;
    text-align: center;
}

.simple-pagination li {
    display: inline-block;
    margin-right: 5px;
}

    .simple-pagination li a,
    .simple-pagination li span {
        color: #666;
        padding: 5px 10px;
        text-decoration: none;
        border: 1px solid #EEE;
        background-color: #FFF;
        box-shadow: 0px 0px 10px 0px #EEE;
    }

.simple-pagination .current {
    color: #FFF;
    background-color: #C6A100;
    border-color: #C6A100;
}

.simple-pagination .prev.current,
.simple-pagination .next.current {
    background: #C6A100;
}
/*Paging Style End*/
