
@{
    ViewBag.Title = "AboutUs";
}

<section>

    @section SliderPage{
        <section class="SliderPageAboutUsStyle" style="margin-top: -2em;">
            <img id="Img1SliderPageAboutUs" src="/Resources/En/AboutUs/aboutus-01.png" class="Img1SliderPageAboutUsStyle" alt="AboutUs Image Tourism" title="AboutUs Image Tourism" />
            <img id="Img2SliderPageAboutUs" src="/Resources/En/AboutUs/aboutus-02.png" class="Img2SliderPageAboutUsStyle" alt="AboutUs Image Tourism" title="AboutUs Image Tourism" />
            <img id="Img3SliderPageAboutUs" src="/Resources/En/AboutUs/aboutus-03.png" class="Img3SliderPageAboutUsStyle" alt="AboutUs Image Tourism" title="AboutUs Image Tourism" />
            <img id="Img4SliderPageAboutUs" src="/Resources/En/AboutUs/aboutus-04.png" class="Img4SliderPageAboutUsStyle" alt="AboutUs Image Tourism" title="AboutUs Image Tourism" />
            <img id="Img5SliderPageAboutUs" src="/Resources/En/AboutUs/aboutus-05.png" class="Img5SliderPageAboutUsStyle" alt="AboutUs Image Tourism" title="AboutUs Image Tourism" />
            <img id="Img6SliderPageAboutUs" src="/Resources/En/AboutUs/aboutus-06.png" class="Img6SliderPageAboutUsStyle" alt="AboutUs Image Tourism" title="AboutUs Image Tourism" />
            <img id="Img7SliderPageAboutUs" src="/Resources/En/AboutUs/aboutus-07.png" class="Img7SliderPageAboutUsStyle" alt="AboutUs Image Tourism" title="AboutUs Image Tourism" />
            <div class="text-left DivAllTextSliderPageStyle">
                <p class="Row1TextSliderPageStyle">
                    FIND YOUR DREAMS ON THE
                </p>
                <p class="Row2TextSliderPageStyle">
                    FOUR SEASON LAND
                </p>
                <p class="Row3TextSliderPageStyle">
                    Authentic Experience In Iranian
                </p>
                <p class="Row4TextSliderPageStyle">
                    Traditional Houses & Ecolodges With RIMATRIP
                </p>
                <div class="DivBtnBookingStyle">
                    <input id="BtnBookingAboutUs" type="button" value="BOOKING" class="BtnBookingHomeStyle" />
                </div>
            </div>

        </section>
    }
</section>
<section>
    <div class="divRow1HomePageStyle container-fluid">
        <div class="divInRow1TheRow1TextHomePageStyle text-center row">
            <p class="textInRow1TheRow1TextHomePageStyle">ABOUT US</p>
        </div>

        <div class="divInRow1TheRow2HomePageStyle row">
            <p>
                Rima group is a startup group acting in the field of tourism and creative industries. Rima trip website is one of its subgroups, dedicated to promotion of the culture, traditions, arts, and tourism, and also to development of innovative businesses in the field of services, tourism and creative industries. What distinguishes us from others are design, providing multilingual information and services for different audiences, and the possibility of the development of its technical phases in the future.
                <br />
                Introducing and creating the reservation system for accommodation in traditional houses and ecolodges of Iran, the introducing and running the innovative "Rima tours" and providing services of medical tourism in Iran are among Rima trip services.
                <br />
                Deeply believing in the principle of international cooperation, we welcome cooperation offers from prospective partners in other countries.
            </p>
        </div>
        <div class="divRow1ContactUsPageStyle">
            <div class="divInRow1TheRow2ContactUsPageStyle">
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                    <img src="/Resources/En/SocialNetworks/icon-11.png" class="ImgIconContactUsPageStyle" />
                    <span class="TextImgIconContactUsPageStyle">No.85 2nd Floor Mashahir Complex , Jolfa , Aras Free Zone , IRAN</span>
                </div>
                <div style="margin-top: 1em;" class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                    <img src="/Resources/En/SocialNetworks/icon-07.png" class="ImgIconContactUsPageStyle" />
                    <span class="TextImgIconContactUsPageStyle">+989120487833</span>
                </div>
                <div style="margin-top: 1em;" class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                    <img src="/Resources/En/SocialNetworks/icon-10.png" class="ImgIconContactUsPageStyle" />
                    <span class="TextImgIconContactUsPageStyle">+989120487833</span>
                </div>
                <div style="margin-top: 1em;" class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                    <img src="/Resources/En/SocialNetworks/icon-09.png" class="ImgIconContactUsPageStyle" />
                    <span class="TextImgIconContactUsPageStyle"><a class="TextImgIconContactUsPageStyle" target="_blank" href="https://www.instagram.com/rima.trip/">rima.trip</a></span>
                </div>
                <div style="margin-top: 1em;" class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                    <img src="/Resources/En/SocialNetworks/icon-08.png" class="ImgIconContactUsPageStyle" />
                    <a href="mailto:rimatrip2020@gmail.com" class="TextImgIconContactUsPageStyle">rimatrip2020@gmail.com</a>
                </div>
                <div style="margin-top: 1em;" class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                    <img src="/Resources/En/SocialNetworks/icon-08.png" class="ImgIconContactUsPageStyle" />
                    <a href="mailto:rimatrip2020@gmail.com" class="TextImgIconContactUsPageStyle">Info@rimatrip.com</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 aboutUsPageShowDynamicImage1">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 aboutUsPageShowDynamicImage2">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 aboutUsPageShowDynamicImage3">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 aboutUsPageShowDynamicImage4">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 aboutUsPageShowDynamicImage5">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 aboutUsPageShowDynamicImage6">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 aboutUsPageShowDynamicImage7">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 aboutUsPageShowDynamicImage8">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 aboutUsPageShowDynamicImage9">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 aboutUsPageShowDynamicImage10">
            </div>
        </div>
    </div>
    <div class="divAdd5upinfooter" style="margin-top: 50px;">
    </div>
    <script>
        var Number1Ads = 1051;
        var Number2Ads = 1052;
        var Number3Ads = 1053;
        var Number4Ads = 1054;
        var Number5Ads = 1055;
    </script>
</section>

<div id="mymodalAboutUs" class="modalAboutUs">
    <span class="closeAboutUs">&times;</span>
    <img class="modalAboutUs-content" id="img01">
    <div id="captionAboutUs"></div>
</div>



<link href="/StyleScriptsNTourism/Style/AboutUs.css" rel="stylesheet" />


@section scripts{
    <script src="/StyleScriptsNTourism/Script/AboutUs.js"></script>

}

