body {
    margin: 0;
    padding: 0;
}

.row {
    margin: 0;
}

.MenuHeaderLeftLgStyle {
    width: 150px;
    position: fixed;
    height: 100%;
    box-shadow: 3px 3px 20px 2px rgba(0, 0, 0, 0.5);
    z-index: 1;
    background-color: white;
}

.DivLogoMenuHeaderLeftLgStyle {
    margin-top: 1em;
}

.ImgDivLogoMenuHeaderLeftLgStyle {
    width: 60%;
    margin-left: 50%;
    transform: translate(-50%, 0);
}

.DivTextMenuHeaderLeftLgStyle {
    text-align: center;
    margin-top: 10px;
}

.UlDivTextMenuHeaderLeftLgStyle {
    list-style: none;
    text-align: center;
}

    .UlDivTextMenuHeaderLeftLgStyle > li > a {
        text-align: center;
        font-size: 1.5em;
        color: black;
        font-family: 'Myriad Pro';
        /*text-decoration: underline;*/
    }

        .UlDivTextMenuHeaderLeftLgStyle > li > a:hover {
            text-decoration: none;
        }

    .UlDivTextMenuHeaderLeftLgStyle > li {
        border-bottom: 1px solid black;
    }

        .UlDivTextMenuHeaderLeftLgStyle > li:last-child {
            border-bottom: none;
        }

.UlDivTextMenuHeaderLeftLgStyle {
    padding: 0 0.5em;
}

.BtnSingoutStyle {
    text-align: center;
    font-size: 1em;
    color: black;
    font-family: 'Myriad Pro';
    background-color: #c7c5c6;
    color: black;
    border-radius: 25px;
    border: none;
    outline: none;
    text-decoration: none;
    padding: 0 1em;
}

.DivBtnSingoutStyle {
    margin-top: 5em;
}

/*Paging*/

.list-wrapper {
    padding: 15px;
    overflow: hidden;
}

.list-item {
    border: 1px solid #EEE;
    background: #FFF;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px #EEE;
}

    .list-item h4 {
        color: #FF7182;
        font-size: 18px;
        margin: 0 0 5px;
    }

    .list-item p {
        margin: 0;
    }

.simple-pagination ul {
    margin: 0 0 20px;
    padding: 0;
    list-style: none;
    text-align: center;
}

.simple-pagination li {
    display: inline-block;
    margin-right: 5px;
}

    .simple-pagination li a,
    .simple-pagination li span {
        color: #666;
        padding: 5px 10px;
        text-decoration: none;
        border: 1px solid #EEE;
        background-color: #FFF;
        box-shadow: 0px 0px 10px 0px #EEE;
    }

.simple-pagination .current {
    color: #FFF;
    background-color: #C6A100;
    border-color: #C6A100;
}

.simple-pagination .prev.current,
.simple-pagination .next.current {
    background: #C6A100;
}

.inputSearch {
    display: inline-block;
    width: 100%;
}
