
@{
    ViewBag.Title = "Ads";
}
    <link href="~/Areas/Admin/Style/Ads.css" rel="stylesheet" />
<!-- ADS Add -->
<div id="AddADS" class="container-fluid HideMenuClick">

    <div id="AddImageAdsIndata" class="row">
        <div id="AddAdsStyle" class="row AddAdsStyle">
            <div style="display:flex;flex-wrap:wrap;">
                <div>
                    <div class="AddAdsCol1TextTitrStyle">
                        <label>ADS</label>
                        <div id="DoneAddAdsImageandlink"></div>
                    </div>
                </div>
                <div style="margin-left:200px;">
                    <input id="BtnCloaseAdsToDatabase" type="button" class="BtnSaveADSStyle" value="CLOSE" />
                </div>
            </div>
            <div style="display:flex;flex-wrap:wrap;">
                <div class="AddAdsCol1ImageStyle">
                    <div class="">
                        <div id="fileDisplayArea1" class="DivAddAdsImageSizeImgStyle">
                            <img id="image-previewImg1" src="" align='middle' class="ImgAddImageSizeImgStyle" />
                        </div>

                        <div class="DivBtnInputAddAdsCol1ImageStyle">
                            <input type="file" id="file-uploadImgAds1" class="file-uploadImgAds" />
                            <label for="file-uploadImgAds1">Browse</label>
                            <!--  <div id="file-uploadImgAds1-filename"></div>-->
                            <input id="Checkboxfile-uploadImgAds1" type="checkbox" />
                            <input id="BtnSaveAdsToDatabaseAds1" type="button" class="BtnSaveADSSaveStyle" value="SAVE" />
                        </div>

                        <div>
                            <input placeholder="link" class="TextAddAdsUnderImg" id="TextAddAdsUnderImg1" type="text" readonly="readonly" /><br />
                            <input class="TextAddAdsUnderImg" id="TextAddAdsUnderImg11" type="text" />
                        </div>
                    </div>
                </div>



                <div class="AddAdsCol1ImageStyle">
                    <div>
                        <div id="fileDisplayArea3" class="DivAddAdsImageSizeImgStyle">
                            <img id="image-previewImg3" src="" align='middle' class="ImgAddImageSizeImgStyle" />
                        </div>
                        <div class="DivBtnInputAddAdsCol1ImageStyle">
                            <input type="file" id="file-uploadImgAds3" class="file-uploadImgAds" />
                            <label for="file-uploadImgAds3">Browse</label>
                            <!--  <div id="file-uploadImgAds1-filename"></div>-->
                            <input id="Checkboxfile-uploadImgAds3" type="checkbox" />
                            <input id="BtnSaveAdsToDatabaseAds3" type="button" class="BtnSaveADSSaveStyle" value="SAVE" />
                        </div>
                        <div>
                            <input placeholder="link" class="TextAddAdsUnderImg" id="TextAddAdsUnderImg3" type="text" readonly="readonly" /><br />
                            <input class="TextAddAdsUnderImg" id="TextAddAdsUnderImg33" type="text" />
                        </div>
                    </div>
                </div>

                <div class="AddAdsCol1ImageStyle">
                    <div>

                        <div id="fileDisplayArea4" class="DivAddAdsImageSizeImgStyle">
                            <img id="image-previewImg4" src="" align='middle' class="ImgAddImageSizeImgStyle" />
                        </div>
                        <div class="DivBtnInputAddAdsCol1ImageStyle">
                            <input type="file" id="file-uploadImgAds4" class="file-uploadImgAds" />
                            <label for="file-uploadImgAds4">Browse</label>
                            <!--  <div id="file-uploadImgAds1-filename"></div>-->
                            <input id="Checkboxfile-uploadImgAds4" type="checkbox" />
                            <input id="BtnSaveAdsToDatabaseAds4" type="button" class="BtnSaveADSSaveStyle" value="SAVE" />
                        </div>
                        <div>
                            <input placeholder="link" class="TextAddAdsUnderImg" id="TextAddAdsUnderImg4" type="text" readonly="readonly" /><br />
                            <input class="TextAddAdsUnderImg" id="TextAddAdsUnderImg44" type="text" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row AddAdsStyle">
            <div>


                <div class="AddAdsCol1ImageStyle">
                    <div>

                        <div id="fileDisplayArea5" class="DivAddAdsImageSizeImg3Style">
                            <img id="image-previewImg5" src="" align='middle' class="ImgAddImageSizeImg3Style text-center" />
                        </div>
                        <div class="DivBtnInputAddAdsCol1ImageStyle text-center">
                            <input type="file" id="file-uploadImgAds5" class="file-uploadImgAds" />
                            <label for="file-uploadImgAds5">Browse</label>
                            <!--  <div id="file-uploadImgAds1-filename"></div>-->
                            <input id="Checkboxfile-uploadImgAds5" type="checkbox" />
                            <input id="BtnSaveAdsToDatabaseAds5" type="button" class="BtnSaveADSSaveStyle" value="SAVE" />
                        </div>
                        <div class="text-center">
                            <input placeholder="link" class="TextAddAdsUnderImg" id="TextAddAdsUnderImg5" type="text" readonly="readonly" /><br />
                            <input class="TextAddAdsUnderImg" id="TextAddAdsUnderImg55" type="text" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div id="AddAdsStyle" class=" AddAdsStyle">

            <div>
                <div class="AddAdsCol1">

                    <div class="AddAdsCol1TextTitrStyle">
                        <label>ADS</label>
                    </div>
                </div>

                <div class="AddAdsCol1ImageStyle">

                    <div style="width:650px;">
                        <div class="DivBtnAddAdsNamePage">
                            <a href="#" class="BtnAddAdsNamePage btn-block text-center">Home</a>

                        </div>
                        <div class="DivBtnAddAdsNamePage">
                            <a href="#" class="BtnAddAdsNamePage btn-block text-center">Destinations</a>

                        </div>
                        <div class="DivBtnAddAdsNamePage">
                            <a href="#" class="BtnAddAdsNamePage btn-block text-center">OurServices</a>

                        </div>
                        <div class="DivBtnAddAdsNamePage">
                            <a href="#" class="BtnAddAdsNamePage btn-block text-center">News</a>

                        </div>
                        <div class="DivBtnAddAdsNamePage">
                            <a href="#" class="BtnAddAdsNamePage btn-block text-center">Rimatours</a>

                        </div>
                        <div class="DivBtnAddAdsNamePage">
                            <a href="#" class="BtnAddAdsNamePage btn-block text-center">Event</a>

                        </div>
                        <div class="DivBtnAddAdsNamePage">
                            <a href="#" class="BtnAddAdsNamePage btn-block text-center">Residence</a>


                        </div>
                        <div class="DivBtnAddAdsNamePage">
                            <a href="#" class="BtnAddAdsNamePage btn-block text-center">Gallery</a>

                        </div>
                        <div class="DivBtnAddAdsNamePage">
                            <a href="#" class="BtnAddAdsNamePage btn-block text-center">Collaborate</a>

                        </div>
                        <div class="DivBtnAddAdsNamePage">
                            <a href="#" class="BtnAddAdsNamePage btn-block text-center">About Us</a>

                        </div>

                    </div>
                </div>
            </div>


        </div>

    </div>




</div>


@section Scripts{
    <script src="~/Areas/Admin/Script/Ads.js"></script>
}