
@{
    ViewBag.Title = "HomePage";
}

    <link href="~/Areas/Admin/Style/HomePage.css" rel="stylesheet" />

<div class="container-fluid IndexDynamicImage" style="margin-top: 50px;padding:0 10px;">
    <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 HomeRow1Col1Style ">
                    <div style="padding: 0; padding-right: 0.5em;" class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div id="DynamicHomeImageAndText1" class="HomeRow1Col1Row1Style Box_ShadowEddect">
                        </div>
                        <input type="file" id="file-uploadImgHomePage1" class="file-uploadImgHomePage" />
                        <label for="file-uploadImgHomePage1">Browse</label>
                        <input type="button" class="BtnSaveHomePageSaveStyle" value="SAVE" />
                        <br />
                        <input class="TextAddHomePageUnderImg" id="TextAddHomePageUnderImg1" type="text" placeholder="Link Image" />
                        <input class="hiddenIdImage" id="hiddenIdImage1" type="hidden" value="" />
                        <input class="hiddenInputFullImgEmpty" id="hiddenInputFullImgEmpty1" type="hidden" value="0" />
                        <input class="hiddenInputSign" id="hiddenInputSign1" type="hidden" value="" />
                    </div>
                    <div class="HomeRow1Col1Row2Style col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div id="DynamicHomeImageAndText2" class="HomeRow1Col1Row2Col1Style Box_ShadowEddect">
                        </div>
                        <div>
                            <input type="file" id="file-uploadImgHomePage2" class="file-uploadImgHomePage" />
                            <label for="file-uploadImgHomePage2">Browse</label>
                            <input type="button" class="BtnSaveHomePageSaveStyle" value="SAVE" />
                            <br />
                            <input class="TextAddHomePageUnderImg" id="TextAddHomePageUnderImg2" type="text" placeholder="Link Image" />
                            <input class="hiddenIdImage" id="hiddenIdImage2" type="hidden" value="" />
                            <input class="hiddenInputFullImgEmpty" id="hiddenInputFullImgEmpty2" type="hidden" value="0" />
                            <input class="hiddenInputSign" id="hiddenInputSign2" type="hidden" value="" />

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div id="DynamicHomeImageAndText4" class="row HomeRow1Col2Style Box_ShadowEddect"></div>
                    <input type="file" id="file-uploadImgHomePage4" class="file-uploadImgHomePage" />
                    <label for="file-uploadImgHomePage4">Browse</label>
                    <input type="button" class="BtnSaveHomePageSaveStyle" value="SAVE" />
                    <br />
                    <input class="TextAddHomePageUnderImg" id="TextAddHomePageUnderImg4" type="text" placeholder="Link Image" />
                    <input class="hiddenIdImage" id="hiddenIdImage4" type="hidden" value="" />
                    <input class="hiddenInputFullImgEmpty" id="hiddenInputFullImgEmpty4" type="hidden" value="0" />
                    <input class="hiddenInputSign" id="hiddenInputSign4" type="hidden" value="" />

                </div>
            </div>
            <div class="row " style="padding: 0 0 0 1em;">
                <div id="DynamicHomeImageAndText5" class="HomeRow2Col1Style Box_ShadowEddect">
                </div>
                <input type="file" id="file-uploadImgHomePage5" class="file-uploadImgHomePage" />
                <label for="file-uploadImgHomePage5">Browse</label>
                <input type="button" class="BtnSaveHomePageSaveStyle" value="SAVE" />
                <br />
                <input class="TextAddHomePageUnderImg" id="TextAddHomePageUnderImg5" type="text" placeholder="Link Image" />
                <input class="hiddenIdImage" id="hiddenIdImage5" type="hidden" value="" />
                <input class="hiddenInputFullImgEmpty" id="hiddenInputFullImgEmpty5" type="hidden" value="0" />
                <input class="hiddenInputSign" id="hiddenInputSign5" type="hidden" value="" />

            </div>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 HomeRow1AslyDivCol2Row1Style">
            <div class="HomeRow1AslyDivCol2Row1Style">
                <div>
                    <div id="DynamicHomeImageAndText6" class="HomeRow1DivCol2Row1Style Box_ShadowEddect">
                    </div>
                    <input type="file" id="file-uploadImgHomePage6" class="file-uploadImgHomePage" />
                    <label for="file-uploadImgHomePage6">Browse</label>
                    <input type="button" class="BtnSaveHomePageSaveStyle" value="SAVE" />
                    <br />
                    <input class="TextAddHomePageUnderImg" id="TextAddHomePageUnderImg6" type="text" placeholder="Link Image" />
                    <input class="hiddenIdImage" id="hiddenIdImage6" type="hidden" value="" />
                    <input class="hiddenInputFullImgEmpty" id="hiddenInputFullImgEmpty6" type="hidden" value="0" />
                    <input class="hiddenInputSign" id="hiddenInputSign6" type="hidden" value="" />
                </div>
                <div>
                    <div id="DynamicHomeImageAndText7" class="HomeRow1DivCol2Row2Style Box_ShadowEddect">
                    </div>
                    <input type="file" id="file-uploadImgHomePage7" class="file-uploadImgHomePage" />
                    <label for="file-uploadImgHomePage7">Browse</label>
                    <input type="button" class="BtnSaveHomePageSaveStyle" value="SAVE" />
                    <br />
                    <input class="TextAddHomePageUnderImg" id="TextAddHomePageUnderImg7" type="text" placeholder="Link Image" />
                    <input class="hiddenIdImage" id="hiddenIdImage7" type="hidden" value="" />
                    <input class="hiddenInputFullImgEmpty" id="hiddenInputFullImgEmpty7" type="hidden" value="0" />
                    <input class="hiddenInputSign" id="hiddenInputSign7" type="hidden" value="" />
                </div>
            </div>

        </div>
    </div>
    <div class="row" style="padding: 0 0 0 1em;">
        <div id="DynamicHomeImageAndText8" class="HomeRow2Col2Style Box_ShadowEddect">
        </div>
        <input type="file" id="file-uploadImgHomePage8" class="file-uploadImgHomePage" />
        <label for="file-uploadImgHomePage8">Browse</label>
        <input type="button" class="BtnSaveHomePageSaveStyle" value="SAVE" />
        <br />
        <input class="TextAddHomePageUnderImg" id="TextAddHomePageUnderImg8" type="text" placeholder="Link Image" />
        <input class="hiddenIdImage" id="hiddenIdImage8" type="hidden" value="" />
        <input class="hiddenInputFullImgEmpty" id="hiddenInputFullImgEmpty8" type="hidden" value="0" />
        <input class="hiddenInputSign" id="hiddenInputSign8" type="hidden" value="" />
    </div>
    <div class="row" style="padding: 0 0 0 1em;">
        <div class="HomeRow3Style">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div id="DynamicHomeImageAndText9" class="row  HomeRow3Col1Style Box_ShadowEddect">
                </div>
                <input type="file" id="file-uploadImgHomePage9" class="file-uploadImgHomePage" />
                <label for="file-uploadImgHomePage9">Browse</label>
                <input type="button" class="BtnSaveHomePageSaveStyle" value="SAVE" />
                <br />
                <input class="TextAddHomePageUnderImg" id="TextAddHomePageUnderImg9" type="text" placeholder="Link Image" />
                <input class="hiddenIdImage" id="hiddenIdImage9" type="hidden" value="" />
                <input class="hiddenInputFullImgEmpty" id="hiddenInputFullImgEmpty9" type="hidden" value="0" />
                <input class="hiddenInputSign" id="hiddenInputSign9" type="hidden" value="" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div id="DynamicHomeImageAndText10" class="row  HomeRow3Col2Style Box_ShadowEddect">
                </div>
                <input type="file" id="file-uploadImgHomePage10" class="file-uploadImgHomePage" />
                <label for="file-uploadImgHomePage10">Browse</label>
                <input type="button" class="BtnSaveHomePageSaveStyle" value="SAVE" />
                <br />
                <input class="TextAddHomePageUnderImg" id="TextAddHomePageUnderImg10" type="text" placeholder="Link Image" />
                <input class="hiddenIdImage" id="hiddenIdImage10" type="hidden" value="" />
                <input class="hiddenInputFullImgEmpty" id="hiddenInputFullImgEmpty10" type="hidden" value="0" />
                <input class="hiddenInputSign" id="hiddenInputSign10" type="hidden" value="" />

            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/Areas/Admin/Script/HomePage.js"></script>
}



